{% extends "AcmeGroupSiteBundle::sitePage.html.twig" %}
{% block title %}{{ pageweb.title|raw }} - {{ parent() }}{% endblock %}
{% block header %}{{ parent() }}{% endblock header %}

{% block mainwindow %}
<div id="pagedroite" class="topdecal12 bottomdecal30">
	<div class="row">
		<div class="col-md-1 hidden-xs"></div>
		<div class="justify col-md-8 col-xs-12">
			<h1>{{ pageweb.titreh1|raw }}</h1>
			{% if pageweb.code is not null and pageweb.code != "" %}
			<p>{{ magnifyText(pageweb.code)|raw }}</p>
			{% endif %}
			{% if pageweb.richtexts|length > 0 %}
			{% for richtext in pageweb.richtexts %}
			<hr>
			{% if richtext.titre is not null and richtext.titre != "" %}
			<h2>{{ richtext.titre|raw }}</h2>
			{% endif %}
			<p>{{ magnifyText(richtext.texte)|raw }}</p>
			{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-3 hidden-xs"></div>
	</div>
</div>
{% endblock mainwindow %}
