{% extends "AcmeGroupSiteBundle::sitePage.html.twig" %}
{% block title %}{{ pageweb.title|raw }} - {{ parent() }}{% endblock %}
{% block header %}{{ parent() }}{% endblock header %}

{% block mainwindow %}
<div id="pagedroite" class="topdecal12 bottomdecal30">
	<div class="row">
		<!-- <div class="col-md-2"></div> -->
		<div class="col-md-2 hidden-xs"></div>
		<div class="justify col-md-8 col-xs-12">
			{% if pageweb.firstmedia is not null %}
			<a href="{{ asset('images/original/' ~ pageweb.firstmedia.fichierNom) }}" title="{{ pageweb.firstmedia.nom }}" class="fancybox" data-fancybox-group="gallery{{ pageweb.id }}">
				<img src="{{ asset('images/optim/' ~ pageweb.firstmedia.fichierNom) }}" alt="{{ pageweb.firstmedia.nom }}" class="" style="float:left;margin:-3px 8px 4px 0px;{{ imgVolume(pageweb.firstmedia, 10, 200, 300) }}" />
			</a>
			{% endif %}
			<h1>{{ pageweb.titreh1|raw }}</h1>
			{% if pageweb.code is not null and pageweb.code != "" %}
			<p>{{ magnifyText(pageweb.code)|raw }}</p>
			{% endif %}
			{% if pageweb.richtexts|length > 0 %}
			{% for richtext in pageweb.richtexts %}
			<p>{{ magnifyText(richtext.texte)|raw }}</p>
			{% endfor %}
			{% endif %}
			{% if pageweb.medias|length > 0 %}
			{% for media in pageweb.medias %}
			<a href="{{ asset('images/original/' ~ media.fichierNom) }}" title="{{ media.nom }}" class="fancybox" data-fancybox-group="gallery{{ pageweb.id }}">
				<img src="{{ asset('images/tn128/' ~ media.fichierNom) }}" alt="{{ media.nom }}" class="img-thumbnail" />
			</a>
			{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-2 hidden-xs"></div>
	</div>
</div>
{% endblock mainwindow %}
