{% extends "AcmeGroupSiteBundle::sitePage.html.twig" %}
{% block title %}
{% if event is not null %}
	{{ parent() }} - {{ event.nom|raw }}
{% else %}
	{{ parent() }} - Information non trouvée
{% endif %}
{% endblock %}
{% block header %}{{ parent() }}{% endblock header %}

{% block mainwindow %}
<div id="pagedroite" class="topdecal12 bottomdecal30">
	{% if event is not null %}

	{% set widbloc = "col-md-8 col-xs-12" %}

	{% set stop = 0 %}
	{% for partenaire in event.partenaires %}
		{% if partenaire.logo is not null and stop == 0 %}{% set stop = 1 %}{% endif %}
	{% endfor %}
	{% if stop == 0 %}
		{% set widbloc = "col-lg-10" %}
		<!-- aucun logo/image -->
	{% endif %}

	<div class="detail-event event-{{ event.typeEvenement.slug }}">
		<h2 class="visible-xs">{{ magnifyText(event.nom)|raw }}</h2>
		<div class="col-md-4 col-xs-12">
			{{ include('AcmeGroupSiteBundle:blocs:imageEvent.html.twig') }}
		</div>
		<div class="{{ widbloc|raw }}">
			<h2 class="hidden-xs">{{ magnifyText(event.nom)|raw }}</h2>
			{% if event.datedebut != null or event.datefin != null %}
			<p class="date">{{ intervalDateFR(event.datedebut, event.datefin, false, true)|raw }}</p>
			{% endif %}
			<p>{{ magnifyText(event.texte)|raw }}</p>
			{% if event.partenaires is not null and event.partenaires|length > 0 %}
			<br />
			<div class="well col-lg-8 col-md-12">
				<h3>Avec le soutien de :</h3>
				{% for part in event.partenaires %}
				{% if part.logo is not null %}
				<img class="logo-partenaire-event-detail img-rounded" src="{{ asset('images/logo/' ~ part.logo.fichierNom) }}" />
				{% endif %}
				<p><a class="fancymd" href="{{ url('acme_site_pagemodale', {pagewebSlug: 'un-partenaire', pagedata: part.slug }) }}" title="Voir {{ part.nom }}">{{ part.nom }}</a></p>
				{% endfor %}
			</div>
			{% endif %}
			<div style="height:0px;clear:both;"></div>
			<span class="badge backpage" title="Revenir à la page précédente">Retour</span>
		</div>
		<div style="height:20px;clear:both;"></div>
	</div>
	{% else %}
	<!-- Évènement introuvable -->
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Évènement non trouvée</strong> le lien d'évènement que vous avez demandé n'est pas présent sur le site.
	</div>
	{% endif %}
</div>
{% endblock mainwindow %}
