<div>
	{% if event is not null %}
	<div class="detail-event event-{{ event.typeEvenement.slug }}">
		<div class="col-md-12">
			<h2>{{ magnifyText(event.nom)|raw }}</h2>
			{% if event.image is not null %}
			<img src="{{ asset('images/tn128/' ~ event.image.fichierNom) }}" alt="{{ event.nom|striptags }}" style="float:left;margin:2px 8px 8px 0px;">
			{% endif %}
			{% if event.datedebut != null or event.datefin != null %}
			<p class="date">{{ intervalDateFR(event.datedebut, event.datefin, false, true)|raw }}</p>
			{% endif %}
			<p>{{ magnifyText(event.texte)|raw }}</p>
			{% if event.partenaires is not null and event.partenaires|length > 0 %}
			<br />
			<div class="well col-md-12">
				<h3>Avec le soutien de :</h3>
				{% for part in event.partenaires %}
				{% if part.logo is not null %}
				<img class="logo-partenaire-event-detail img-rounded" src="{{ asset('images/logo/' ~ part.logo.fichierNom) }}" />
				{% endif %}
				<p><a class="fancymd" href="{{ url('acme_site_pagemodale', {pagewebSlug: 'un-partenaire', pagedata: part.slug }) }}" title="Voir {{ part.nom }}">{{ part.nom }}</a></p>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<div style="height:20px;clear:both;"></div>
	</div>
	{% else %}
	<!-- Évènement introuvable -->
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Évènement non trouvée</strong> le lien d'évènement que vous avez demandé n'est pas présent sur le site.
	</div>
	{% endif %}
</div>